{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "cv/css/style.css" %}">
    {#    https://bernii.github.io/gauge.js/#}
    <script src="{% static "cv/js/gauge.js" %}"></script>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-4 l-box">
        <h1>{{ obj.full_name }}</h1>
        <span>Développeur web</span>
    </div>
    <div class="pure-u-1-4 l-box">
        <div class="pure-g user-info">
            <div class="pure-u-1-3">
                <h4>Adresse</h4>
            </div>
            <div class="pure-u-2-3">
                <div class="data">
                    {{ obj.address | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-4 l-box">
        <div class="pure-g user-info">
            <div class="pure-u-1-3">
                <h4>Contact</h4>
            </div>
            <div class="pure-u-2-3">
                <div class="data">
                    {{ obj.contact | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-4 l-box">
        <div class="pure-g user-info">
            <div class="pure-u-1-3">
                <h4>Informations</h4>
            </div>
            <div class="pure-u-2-3">
                <div class="data">
                    {{ obj.information | safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1-2 l-box">
        <h2>EXPERIENCES PROFESSIONNELLES</h2>

        {% for experience in obj.experience_set.all %}
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <h3>{{ experience.title }}</h3>

                    {{ experience.tasks | safe }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="pure-g">
            <div class="pure-u-1-1">
                <h2>DIPLÔMES</h2>

                <div class="pure-g grades">
                    {% for grade in obj.grade_set.all %}
                        <div class="pure-u-1-24 body-arrow">
                            {% if forloop.first %}
                                <span class="arrow"></span>
                            {% else %}
                                <span class="dot dot-dark"></span>
                            {% endif %}
                        </div>

                        <div class="pure-u-23-24 l-box">
                            <span>{{ grade.year }}</span>
                            <br>
                            <span>{{ grade.title }}</span>
                            <br>
                            <span>{{ grade.sub_title }}</span>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="pure-u-1-1">
                <h2>CONNAISSANCES DIVERSES</h2>

                {{ obj.knowledge | safe }}
            </div>

            <div class="pure-u-1-1">
                <h2>TECHNOLOGIES</h2>

                <div class="pure-g">
                    {% for technology in obj.technology_set.all %}
                        <div class="pure-u-1-2">
                            <div class="pure-g">
                                <div class="pure-u-1-3">
                                    <span>{{ technology.title }}</span>
                                </div>
                                <div class="pure-u-2-3">
                                    {% for i in '0123456789'|make_list %}
                                        <span class="bullet dot {% if technology.force >= forloop.counter %}dot-dark{% endif %}"></span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="pure-u-1-1">
                <h2>PREFERENCES</h2>

                <div class="pure-g">
                    {% for preference in obj.preference_set.all %}
                        <div class="pure-u-1-{{ obj.preference_set.all | length }} pref-{{ preference.force }}">
                            {{ preference.title }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>