@charset "UTF-8";
/* line 7, ../scss/style.scss */
body {
  padding: 25px;
}
/* line 10, ../scss/style.scss */
body * {
  color: #3e3e3e;
  box-sizing: border-box;
  font-family: Cantarell;
  font-size: 16px;
}

/* line 18, ../scss/style.scss */
h1 {
  margin-bottom: 0;
  font-size: 2em;
}

/* line 23, ../scss/style.scss */
h2 {
  width: 80%;
  border-bottom: 1px dashed #8b8b8b;
  font-size: 1.5em;
}

/* line 29, ../scss/style.scss */
h3 {
  font-size: 1.2em;
}

/* line 33, ../scss/style.scss */
h4 {
  font-size: 1em;
}

/* line 37, ../scss/style.scss */
p, span, li {
  font-size: .9em;
}

/* line 41, ../scss/style.scss */
li {
  list-style: none;
}
/* line 44, ../scss/style.scss */
li:before {
  content: " ۔ ";
}

/* line 49, ../scss/style.scss */
.body-arrow {
  border-right: 3px solid #3e3e3e;
}

/* line 53, ../scss/style.scss */
.arrow {
  border: solid #3e3e3e;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* line 62, ../scss/style.scss */
.l-box {
  padding: 10px;
}

/* line 66, ../scss/style.scss */
.dot {
  height: .9em;
  width: .9em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
/* line 73, ../scss/style.scss */
.dot.dot-dark {
  background-color: #3e3e3e;
}

/* line 80, ../scss/style.scss */
.user-info h4 {
  text-align: right;
  padding-right: 10px;
}
/* line 85, ../scss/style.scss */
.user-info .data {
  padding-left: 10px;
  border-left: 1px solid #8b8b8b;
}

/* line 92, ../scss/style.scss */
.grades .arrow, .grades .dot {
  float: right;
  position: relative;
  left: .5em;
}
/* line 98, ../scss/style.scss */
.grades .dot {
  top: 1em;
}

/* line 103, ../scss/style.scss */
.preferences {
  display: block;
  height: 100%;
  position: relative;
}
/* line 108, ../scss/style.scss */
.preferences span {
  z-index: 2;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
